@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  path.chord
    fill-opacity 0.3
    stroke-opacity 1
    &:hover
      fill-opacity 0.9
  text
    font-size 1.1em
    &.BG
      font-size 0.9em
    &.CY
    &.LV
    &.LT
    &.LU
    &.HU
    &.RO
    &.SI
      font-size 0.9em

    &.MT
      font-size 0.7em
  .title-area
    padding-left 30px
    h2
      font-weight normal
    .selector
      // span
      //   display block
      //   float left
      ul
        display inline
        margin 0px
        padding 0px
        li
          padding 0px
          display inline
          &.selected
            display none
          &:not(.selected) ~ li:before
            content " nebo "


